nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
 }
 #street, #menu, #deals, #special{
    color:  #6CB840;
 }
 #food{
     color: orange;
 }
 #btn1,#btn2,#btn3{
     background-color: #6CB840;
 }
 ul{
     display: flex;
     justify-content: space-around;
     text-align: center;
 }
 nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
 }