body{
    font-family: poppins;
    font-size: 19px;
}
.block1{
    Background-Color: grey;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 50px 0px;

}
.block3{
    background-color: rgb(209, 208, 208);
    padding: 8px 12px;
    margin: 50px,0px;
}
.block4{
    background-color: #C9ECB5;
}
.block5{
    background-color: #FFD77C;
}
.block6{
    background-color: #C9ECB5;
}
.left{
    text-align: left;
}
.together{
    text-align: right; 
    justify-content: space-evenly;
}
.block2>h3{
    text-align: center;
}
.justify{
    text-align: center;
}

.flex1,.flex2{
    display: flex;
    justify-content: space-evenly;
    padding-right: 30pt;
    padding-left: 40pt;
    padding-top: 80pt;
    padding-bottom: 100pt;
}
.flex1>div,.flex2>div{
    height: 200px;
    width: 220%;
    display: flex;
    justify-content: space-evenly;
    align-items: inherit;
    background-color: white;
    margin-right: 15px;
    border-radius: 8px 8px 6px 0;
}
.flex1>div>img,.flex2>div>img{
    float: left;
}
.hotdeals{
    text-align: center;
}
.contactus{
    text-align: center;
}
.block6>div{
    display: flex;
    justify-content: space-between;
}

 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
li a{
    color: black;
    text-decoration: none;
}
 #street, #menu, #deals, #special{
    color:  #6CB840;
 }
 #food{
     color: orange;
 }
 #btn1,#btn2,#btn3{
     background-color: #6CB840;
     border: transparent;
     height: 30px;
     border-radius: 20vh;
 }